{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/style_org.css' %}"/>
    <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/font.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/comman.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>
    <title>Document</title>
</head>
<body>
<div class="header-main-wrapper">
    <div class="header-top-wrapper">
        <div class="ht-left">
        </div>
        <div class="ht-right">
            <div class="ht-right_info">
                <ul class="ht-info-list">
                    {% if not user.is_authenticated %}

                        <li>
                            <a href="{% url 'register' %}">ثبت نام </a> یا
                            <a href="{% url 'login' %}">ورود </a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'profile' %}">حساب کاربری </a></li>
                        <li>
                            <a href="{% url 'logout' %}">خروج </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

</div>
<div class="e-wrap_custom text-center">
    <a class="e-breadcumb-title" href="{% url 'home' %}">خانه </a> /
    <a class="e-breadcumb-title">لیست ها </a>

</div>
<section class="lists" dir="ltr">
    <div class="lists_wrapper" data-id="{{ board.id }}" data-name="board">
        {% if board %}
            <input type="text" class="editable-test" style="font-size: 4rem ; text-align: left"
                   value="{{ board.name }}"/>
        {% else %}
            <h2>Board Name</h2>
        {% endif %}
        <br>
        <h3 style="color:red;">{{ err }}</h3>
        <div class="lists_container">
            <!-- list template -->

            {% for k,v in data.items %}
                <div class="list" data-id="{{ k.id }}" data-name="list">
                    <input type="text" class="editable-test" value="{{ k.title }}"/>
                    <div class="list_tasks">
                        {% for item in v %}
                            <div class="task" dir="ltr">
                                <a class="cart_title_mine" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="list_tasks">
                        <form method="post" action="{% url 'list' k.id %}">
                            {% csrf_token %}
                            <input class="e-field-inner" type="text" name="cart_name">
                            <button class="e-btn-mine">Create New Card</button>


                        </form>
                    </div>
                </div>
            {% endfor %}


            <br>


            <!--------------------------------------------->

            <!--------------------------------------------->
            <div class="list">
                <form method="post" action="{% url 'list' board.id %}">
                    {% csrf_token %}
                    <input class="e-field-inner" type="text" name="list_name">
                    <button class="e-btn-mine">Create New List</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

<script src='{% static "assets/js/editable_text.js" %}'></script>
</body>
</html>
